<br>
<br>
<div>
    <nav> 

        <%= link_to "HOME", root_path %>
        <%= link_to "SHOW", home_show_path %>
        <%= link_to "ADD" , home_add_path %>
        <%= link_to "EDIT" , home_edit_path %>
    
    </nav>
</div>
<br>
<br>